<nav id="header">
    <div class="header container-fluid ">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1>LOGO</h1>
          </a>
      </div>
      <div class="nav-list">
        <div class="hamburger">
          <div class="bar"></div>
        </div>
          <ul class="m-0">
            <li><a href="/">HOME</a></li>
            <li><a href="#features" data-after="Work">WORK</a></li>
            <li><a href="#newslater" data-after="Contact">CONTACT</a></li>
            <li><a href="#system" data-after="AboutMe">ABOUT ME</a></li>
            <li class="ml-lg-4"> <a class="nav-link" href="#">SIGN UP</a></li>
            <li><a class="nav-link" href="/login">LOGIN</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>