<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/head", { title: "Error 404", href: "/asset/404.css" }); %>

<body>
  <div class="center">      
    <div class="circle">    
  </div>
  
  <div class="line"></div>
    
  <div class="banner">
    <h1>
      Oops! ;(
    </h1>
  </div>    
    <h2>Error 404! Page Not Found</h2>
   
  <div class="button text-center">
    <a href="/" class="btn btn-outline-light btn-sm" 
        tabindex="-1" role="button" aria-disabled="true">Back to Home</a>
  </div> 
</div>
 
</body>
</html>