<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/head", { title: "Login", href: "/asset/main.css" }); %>
  <body>
    <%- include ("partials/navbar"); %>
    <div class="container d-flex align-items-center justify-content-center">     
      <form action="/login" method="POST" class="box-shadow px-5 pb-5 pt-1">
        <div class="img-text text-center">         
          <h2 class="text-center px-4">LOGIN</h2>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="username"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="password"
          />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Remember me</label
          >
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
    </div>
  </body>
</html>